{% load static %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Index</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'homepage' %}">SimpleFAQ</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'homepage' %}">Accueil</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
                <form class="navbar-form navbar-left" action="{% url 'homepage' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="Rechercher">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span> Bienvenue, <strong>{{ user }}</strong> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'admin:index' %}">
                                <span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                            <li><a href="{% url 'admin:logout' %}"><span class="glyphicon glyphicon-off"></span> Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
          </div>
        </nav>
        <div class="container" role="main">
        {% block content %}{% endblock %}

        </div>
        <script src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
